<extend name="Layout/Home"/>
<block name="content">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/baoming.css"/>
			<!--顶部搜索-->
		<div class="sousuo-box">
			<div class="b-width">
				<div class="form-box">
					<span class="span-text"></span>
					<span class="span-submit"><span></span>搜索</span>
					<form class="input-box" action="">
						<input type="text" class="input-text" placeholder="请输入关键字（楼盘名/地名/开发商等）" value="请输入关键字（楼盘名/地名/开发商等）"/>
						<input type="submit" class="input-submit" value="搜索"/>
					</form>
				</div>
				<div class="sousuo-right">
					<span></span>
					<a class="sousuo-tag" href="__MODULE__/Loupan/detail?id=<{$vo.house_id}>">绿地长岛</a>
					<a class="sousuo-tag" href="__MODULE__/Loupan/detail?id=<{$vo.house_id}>">中南君悦府</a>
					<a class="sousuo-tag" href="__MODULE__/Loupan/detail?id=<{$vo.house_id}>">敔山湾花园</a>

				</div>
			</div>
		</div>
		<div id="address"><i></i><a class="" href="__MODULE__/Index/index">99新房></a><a class="" href="__MODULE__/Search/search">上海周边></a><a class="" href="__MODULE__/Search/search">嘉兴楼盘></a>
							<a class="" href="__MODULE__/Search/search">嘉善楼盘></a><a>新西塘孔雀城</a>
		</div>
		<div class="center">
			<ul id="loupan-nav">
				<a href="__MODULE__/Loupan/detail?id=<{$vo.house_id}>">楼盘首页</a>
				<a href="__MODULE__/Loupan/detail?id=<{$vo.house_id}>">楼盘详情</a>
				<a href="__MODULE__/Loupan/detail?id=<{$vo.house_id}>">户型介绍</a>
				<a href="__MODULE__/Loupan/detail?id=<{$vo.house_id}>">周边分析</a>
				<a href="__MODULE__/Loupan/detail?id=<{$vo.house_id}>">楼盘图册</a>
				<a href="__MODULE__/Loupan/detail?id=<{$vo.house_id}>">历史价格</a>
				<a href="__MODULE__/Loupan/detail?id=<{$vo.house_id}>">项目简介</a>
				<a style="background:#e14122;color:#fff;" href="#">我要看房</a>
			</ul>
			<div class="baoming-box">
				<div class="form-box">
					<span class="span-text"></span>
					<span class="span-submit">预约看房</span>
					<form class="input-box" action="">
						<input type="text" class="input-text" placeholder="请输入您的手机号" value="请输入您的手机号"/>
						<input type="submit" class="input-submit" value="预约看房"/>
					</form>
				</div>		
			</div>
		</div>

		<script type="text/javascript" src="__PUBLIC__/home/js/tongyong.js"></script>
		<script type="text/javascript" src="__PUBLIC__/home/js/baoming.js"></script>
		<script type="text/javascript" charset="utf-8" src="http://lead.soperson.com/20001185/10056872.js"></script>
		
</block>