			<div class="img-box" style="display: block;">
				<div class="img-list img-xiaoguo" style="display: block;"><img src="__PUBLIC__/home/img/loupan/fine-01.png" alt="" /></div>
				<div class="img-list img-xiaoguo"><img src="__PUBLIC__/home/img/loupan/fine-02.png" alt="" /></div>
				<div class="img-list img-xiaoguo"><img src="__PUBLIC__/home/img/loupan/fine-03.png" alt="" /></div>
				<div class="img-list img-xiaoguo"><img src="__PUBLIC__/home/img/loupan/fine-04.png" alt="" /></div>
				<div class="img-list img-xiaoguo"><img src="__PUBLIC__/home/img/loupan/fine-05.png" alt="" /></div>
				<div class="img-list img-xiaoguo"><img src="__PUBLIC__/home/img/loupan/fine-06.png" alt="" /></div>
				<div class="img-list img-xiaoguo"><img src="__PUBLIC__/home/img/loupan/fine-07.png" alt="" /></div>
				<!--左右控制箭头-->
				<div class="img-left" onclick="imgLeft(imgXiaoguo,imgBottomBox[0],xiaoguoOpacity);"><img src="__PUBLIC__/home/img/img-left.png" alt="" /></div>
				<div class="img-right" onclick="imgRight(imgXiaoguo,imgBottomBox[0],xiaoguoOpacity);"><img src="__PUBLIC__/home/img/img-right.png" alt="" /></div>
				<!--底部小图-->
				<div class="img-bottom-box">
					<ul class="img-bottom">
						<li class="small-img small-xiaoguo" style="margin-left: 0;">
							<img src="__PUBLIC__/home/img/loupan/fine-01.png" alt="" />
							<div class="small-opacity xiaoguo-opacity" style="display: none;"></div>
						</li>
						<li class="small-img small-xiaoguo">
							<img src="__PUBLIC__/home/img/loupan/fine-02.png" alt="" />
							<div class="small-opacity xiaoguo-opacity"></div>
						</li>
						<li class="small-img small-xiaoguo">
							<img src="__PUBLIC__/home/img/loupan/fine-03.png" alt="" />
							<div class="small-opacity xiaoguo-opacity"></div>
						</li>
						<li class="small-img small-xiaoguo">
							<img src="__PUBLIC__/home/img/loupan/fine-04.png" alt="" />
							<div class="small-opacity xiaoguo-opacity"></div>
						</li>
						<li class="small-img small-xiaoguo">
							<img src="__PUBLIC__/home/img/loupan/fine-05.png" alt="" />
							<div class="small-opacity xiaoguo-opacity"></div>
						</li>
						<li class="small-img small-xiaoguo">
							<img src="__PUBLIC__/home/img/loupan/fine-06.png" alt="" />
							<div class="small-opacity xiaoguo-opacity"></div>
						</li>
						<li class="small-img small-xiaoguo">
							<img src="__PUBLIC__/home/img/loupan/fine-07.png" alt="" />
							<div class="small-opacity xiaoguo-opacity"></div>
						</li>
					</ul>
				</div>
			</div>