<extend name="Layout/Home"  />
<block name="content">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/hot.css"/>
				<div id="banner">
			<div id="index-banner" class="banner-box">
				<div class="banner-img" style="display: block;"><img src="__PUBLIC__/home/img/banner/hot-banner1.jpg" alt="" /></div>
				<div class="banner-img"><img src="__PUBLIC__/home/img/banner/hot-banner2.jpg" alt="" /></div>
				<div class="banner-img"><img src="__PUBLIC__/home/img/banner/hot-banner3.jpg" alt="" /></div>
				<div class="banner-img"><img src="__PUBLIC__/home/img/banner/hot-banner4.jpg" alt="" /></div>
				<div class="banner-img"><img src="__PUBLIC__/home/img/banner/hot-banner5.jpg" alt="" /></div>
				<ul id="banner-num">
					<li class="banner-num-li"></li>
					<li class="banner-num-li"></li>
					<li class="banner-num-li"></li>
					<li class="banner-num-li"></li>
					<li class="banner-num-li" style="margin-right: 0;"></li>
				</ul>
		 		<div id="banner-left" onclick="bannerL()"><div></div></div>
				<div id="banner-right" onclick="bannerR()"><div></div></div>
			</div>
		</div>
		<div id="address"><i></i><a class="" href="index.html">99新房></a>热门楼盘推荐</div>
		<div class="center">
			<div class="title-index">御海龙湾<span>/位于辽宁省东戴河</span></div>
			<ul id="pinpai" class="hot-list">
				<li class="pinpai-li1 hot-show">
					<a class="hot-href" href="loupan.html"><img src="__PUBLIC__/home/img/hota-01.jpg" alt="" /></a>
					<div class="hot-hidden">
						<a class="hot-hidden-loupan" href="loupan.html">御海龙湾</a>
						<p>均价：6000元/㎡ 户型面积：65-140㎡</p>
					</div>
				</li>
				<li class="pinpai-li3">
					<div class="hot-hover" style="margin-bottom: 10px;">
						<a class="hot-href" href="loupan.html"><img src="__PUBLIC__/home/img/hota-02.jpg" alt="" /></a>
						<p class="hottag">投资</p>
					</div>
					<div class="hot-hover">
						<a class="hot-href" href="loupan.html"><img src="__PUBLIC__/home/img/hota-03.jpg" alt="" /></a>
						<p class="hottag">休闲</p>
					</div>
				</li>
				<li class="pinpai-li2 hot-hover">
					<a class="hot-href" href="loupan.html"><img src="__PUBLIC__/home/img/hota-04.jpg" alt="" /></a>
					<p class="hottag">居住</p>
				</li>
			</ul>
			<p class="hot-jianjie">随意自由、享受生活</p>
			<p class="hot-text">有怎样的理想，就有怎样的追求;有怎样的追求，就有怎样的品质;有怎样的品质，就有怎样的生活。</p>
			<p class="hot-peitao">周边配套</p>
			<div class="hot-peitao-box">
				<ul class="hot-list-ul1">
					<div>交通配套</div>
					<li>高铁：8分钟直达东戴河高铁站</li>
					<li>机场：15分钟直达山海关机场</li>
					<li>自驾：25分钟到达秦皇岛市中心</li>
				</ul>
				<ul class="hot-list-ul2">
					<div>教育配套</div>
					<li>幼儿园：古城幼儿园、南园幼儿园</li>
					<li>小学：古城幼儿园、南园幼儿园</li>
					<li>中学：山海关一中、山海关二中等</li>
				</ul>
				<ul class="hot-list-ul3">
					<div>购物配套</div>
					<li>新世纪购物广场</li>
					<li>鑫和百货商场</li>
					<li>万商商贸城</li>
				</ul>
				<ul class="hot-list-ul4">
					<div>医疗配套</div>
					<li>山海关人民医院</li>
					<li>秦皇岛工人医院</li>
					<li>开发区第二医院</li>
				</ul>
				<ul class="hot-list-ul5">
					<div>餐饮配套</div>
					<li>蓝色百合主题中餐厅</li>
					<li>海点食府</li>
					<li>东戴河润海园渔家院</li>
				</ul>
			</div>
			<a class="hot-many" href="loupan.html">查看详情</a>
			<div class="title-index">地中海风情小镇<span>/位于辽宁省东戴河</span></div>
			<div class="hot-list">
				<div class="hot-list-head hot-show">
					<a class="hot-href" href="loupan.html"><img src="__PUBLIC__/home/img/hotb-01.jpg" alt="" /></a>
					<div class="hot-hidden">
						<a class="hot-hidden-loupan" href="loupan.html">御海龙湾</a>
						<p>均价：6000元/㎡ 户型面积：65-140㎡</p>
					</div>
				</div>
				<div class="hot-list-two">
					<a class="hot-hover hot-href" href="loupan.html">
						<img src="__PUBLIC__/home/img/hotb-02.jpg" alt="" />
						<p class="hottag">养老</p>
					</a>
					<a class="hot-hover hot-href" href="loupan.html">
						<img src="__PUBLIC__/home/img/hotb-03.jpg" alt="" />
						<p class="hottag">居住</p>
					</a>
					<a class="hot-hover hot-href" href="loupan.html" style="margin-right:0;">
						<img src="__PUBLIC__/home/img/hotb-04.jpg" alt="" />
						<p class="hottag">投资</p>
					</a>
				</div>
			</div>
			<p class="hot-jianjie">随意自由、享受生活</p>
			<p class="hot-text">有怎样的理想，就有怎样的追求;有怎样的追求，就有怎样的品质;有怎样的品质，就有怎样的生活。</p>
			<p class="hot-peitao">周边配套</p>
			<div class="hot-peitao-box">
				<ul class="hot-list-ul1">
					<div>交通配套</div>
					<li>高铁：8分钟直达东戴河高铁站</li>
					<li>机场：15分钟直达山海关机场</li>
					<li>自驾：25分钟到达秦皇岛市中心</li>
				</ul>
				<ul class="hot-list-ul2">
					<div>教育配套</div>
					<li>幼儿园：古城幼儿园、南园幼儿园</li>
					<li>小学：古城幼儿园、南园幼儿园</li>
					<li>中学：山海关一中、山海关二中等</li>
				</ul>
				<ul class="hot-list-ul3">
					<div>购物配套</div>
					<li>新世纪购物广场</li>
					<li>鑫和百货商场</li>
					<li>万商商贸城</li>
				</ul>
				<ul class="hot-list-ul4">
					<div>医疗配套</div>
					<li>山海关人民医院</li>
					<li>秦皇岛工人医院</li>
					<li>开发区第二医院</li>
				</ul>
				<ul class="hot-list-ul5">
					<div>餐饮配套</div>
					<li>蓝色百合主题中餐厅</li>
					<li>海点食府</li>
					<li>东戴河润海园渔家院</li>
				</ul>
			</div>
			<a class="hot-many" href="loupan.html">查看详情</a>
			<div class="title-index">地中海风情小镇<span>/位于辽宁省东戴河</span></div>
			<div class="hot-list hot-list3">
				<a class="hot-three-left hot-show hot-href" href="loupan.html">
					<img src="__PUBLIC__/home/img/hotc-01.jpg" alt="" />
					<div class="hot-hidden">
						<p class="hot-hidden-loupan" href="loupan.html">御海龙湾</p>
						<p>均价：6000元/㎡ 户型面积：65-140㎡</p>
					</div>
				</a>
				<div class="hot-three-right">
					<a class="hot-three-top hot-hover hot-href" href="loupan.html">
						<img src="__PUBLIC__/home/img/hotc-02.jpg" alt="" />
						<p class="hottag">居住</p>
					</a>
					<div>
						<a class="hot-hover hot-href" href="loupan.html" style="margin-left: 0;">
							<img src="__PUBLIC__/home/img/hotc-03.jpg" alt="" />
							<p class="hottag">投资</p>
						</a>
						<a class="hot-hover hot-href" href="loupan.html">
							<img src="__PUBLIC__/home/img/hotc-04.jpg" alt="" />
							<p class="hottag">休闲</p>
						</a>
					</div>
				</div>
			</div>
			<p class="hot-jianjie">随意自由、享受生活</p>
			<p class="hot-text">有怎样的理想，就有怎样的追求;有怎样的追求，就有怎样的品质;有怎样的品质，就有怎样的生活。</p>
			<p class="hot-peitao">周边配套</p>
			<div class="hot-peitao-box">
				<ul class="hot-list-ul1">
					<div>交通配套</div>
					<li>高铁：8分钟直达东戴河高铁站</li>
					<li>机场：15分钟直达山海关机场</li>
					<li>自驾：25分钟到达秦皇岛市中心</li>
				</ul>
				<ul class="hot-list-ul2">
					<div>教育配套</div>
					<li>幼儿园：古城幼儿园、南园幼儿园</li>
					<li>小学：古城幼儿园、南园幼儿园</li>
					<li>中学：山海关一中、山海关二中等</li>
				</ul>
				<ul class="hot-list-ul3">
					<div>购物配套</div>
					<li>新世纪购物广场</li>
					<li>鑫和百货商场</li>
					<li>万商商贸城</li>
				</ul>
				<ul class="hot-list-ul4">
					<div>医疗配套</div>
					<li>山海关人民医院</li>
					<li>秦皇岛工人医院</li>
					<li>开发区第二医院</li>
				</ul>
				<ul class="hot-list-ul5">
					<div>餐饮配套</div>
					<li>蓝色百合主题中餐厅</li>
					<li>海点食府</li>
					<li>东戴河润海园渔家院</li>
				</ul>
			</div>
			<a class="hot-many"  href="loupan.html">查看详情</a>
			<a id="hot-manys" href="search.html">查看更多>></a>
		</div>

		<script type="text/javascript" src="__PUBLIC__/home/js/tongyong.js"></script>
		<script  type="text/javascript" src="__PUBLIC__/home/js/banner.js"></script>
		<script  type="text/javascript" src="__PUBLIC__/home/js/hot.js"></script>
		<script type="text/javascript" charset="utf-8" src="http://lead.soperson.com/20001185/10056872.js"></script>
</block>