<extend name="Layout/Home"  />
<block name="content">
		<link rel="stylesheet" href="__PUBLIC__/home/css/index.css"/>
		<!--banner大图-->
		<div id="banner">
			<div class="sousuo-box">
				<div id="indexb-title">
					<img src="__PUBLIC__/home/img/indexb-title.png" alt="" />
				</div>
				<form id="sousuo" action="__MODULE__/Search/search" method="get">
					<input type="text" name="guanjianzi" id="sousuo-text" placeholder="在此输入区域，小区，快速为您搜索合适的房源" value="" />
					<input type="submit" name="" id="sousuo-submit" value="开始找房" />
				</form>
				<div class="sousuo-tuijian">
					<a style="border:none;padding:0;">热门搜索：</a>
					<a href="" target="_blank">落户房</a>
					<a href="" target="_blank">随时看房</a>
					<a href="" target="_blank">海景房</a>
					<a href="" target="_blank">经济住房</a>
					<div id="banner-tel"><i></i>官方热线：<span class="dense-phone">400-8792-777</span>
					</div>
				</div>
			</div>
			<div id="index-banner" class="banner-box">
				<div class="banner-img" style="display: block;"><img src="__PUBLIC__/home/img/banner01.jpg" alt="" /></div>
			</div>
		</div>
		<!--主题内容-->
		<div class="title-index">99新房的平台优势<span>四年积累  厚积薄发</span></div>
		<ul id="merit-tag">
			<li>成熟的商业模式</li>
			<li>成熟的商业模式</li>
			<li>成熟的商业模式</li>
			<li>成熟的商业模式</li>
			<li>成熟的商业模式</li>
			<li style="margin-right:0;">成熟的商业模式</li>
		</ul>
		<div class="merit">
			<div class="merit-img">
				<img src="__PUBLIC__/home/img/merit-01.jpg" alt="" />
			</div>
			<div class="merit-right">
				<div class="merit-title">成熟的商业模式1</div>
				<div class="merit-text">经过多年的发展，尤其是近两年公司走上正轨以来，99新房的商业模式被众多客户所认可，这种模式在全国多个城市得到了快速的验证和复制，帮助用户筛选、购买所需的房源，公司理念成为公司发展的基点。</div>
				<div class="meritl-arrow" onclick="meritLeft()"></div>
				<div class="meritr-arrow" onclick="meritRight()"></div>
			</div> 
		</div>
		<div class="merit">
			<div class="merit-img">
				<img src="__PUBLIC__/home/img/merit-01.jpg" alt="" />
			</div>
			<div class="merit-right">
				<div class="merit-title">成熟的商业模式2</div>
				<div class="merit-text">经过多年的发展，尤其是近两年公司走上正轨以来，99新房的商业模式被众多客户所认可，这种模式在全国多个城市得到了快速的验证和复制，帮助用户筛选、购买所需的房源，公司理念成为公司发展的基点。</div>
				<div class="meritl-arrow" onclick="meritLeft()"></div>
				<div class="meritr-arrow" onclick="meritRight()"></div>
			</div> 
		</div>
		<div class="merit">
			<div class="merit-img">
				<img src="__PUBLIC__/home/img/merit-01.jpg" alt="" />
			</div>
			<div class="merit-right">
				<div class="merit-title">成熟的商业模式3</div>
				<div class="merit-text">经过多年的发展，尤其是近两年公司走上正轨以来，99新房的商业模式被众多客户所认可，这种模式在全国多个城市得到了快速的验证和复制，帮助用户筛选、购买所需的房源，公司理念成为公司发展的基点。</div>
				<div class="meritl-arrow" onclick="meritLeft()"></div>
				<div class="meritr-arrow" onclick="meritRight()"></div>
			</div> 
		</div>
		<div class="merit">
			<div class="merit-img">
				<img src="__PUBLIC__/home/img/merit-01.jpg" alt="" />
			</div>
			<div class="merit-right">
				<div class="merit-title">成熟的商业模式4</div>
				<div class="merit-text">经过多年的发展，尤其是近两年公司走上正轨以来，99新房的商业模式被众多客户所认可，这种模式在全国多个城市得到了快速的验证和复制，帮助用户筛选、购买所需的房源，公司理念成为公司发展的基点。</div>
				<div class="meritl-arrow" onclick="meritLeft()"></div>
				<div class="meritr-arrow" onclick="meritRight()"></div>
			</div> 
		</div>
		<div class="merit">
			<div class="merit-img">
				<img src="__PUBLIC__/home/img/merit-01.jpg" alt="" />
			</div>
			<div class="merit-right">
				<div class="merit-title">成熟的商业模式5</div>
				<div class="merit-text">经过多年的发展，尤其是近两年公司走上正轨以来，99新房的商业模式被众多客户所认可，这种模式在全国多个城市得到了快速的验证和复制，帮助用户筛选、购买所需的房源，公司理念成为公司发展的基点。</div>
				<div class="meritl-arrow" onclick="meritLeft()"></div>
				<div class="meritr-arrow" onclick="meritRight()"></div>
			</div> 
		</div>
		<div class="merit">
			<div class="merit-img">
				<img src="__PUBLIC__/home/img/merit-01.jpg" alt="" />
			</div>
			<div class="merit-right">
				<div class="merit-title">成熟的商业模式6</div>
				<div class="merit-text">经过多年的发展，尤其是近两年公司走上正轨以来，99新房的商业模式被众多客户所认可，这种模式在全国多个城市得到了快速的验证和复制，帮助用户筛选、购买所需的房源，公司理念成为公司发展的基点。</div>
				<div class="meritl-arrow" onclick="meritLeft()"></div>
				<div class="meritr-arrow" onclick="meritRight()"></div>
			</div> 
		</div>
		<!--楼盘推荐-->
		<div class="fine-box">
			<div class="title-index">99新房为您推荐<span>四年积累  厚积薄发</span></div>
			<ul class="fine">
<!-- 			<volist name="house_info" id="vo">
				<li class="fine-margin">
					<a class="fine-img" href="__MODULE__/Loupan/detail" target="_blank"><img class="fine-imgs" src="__ROOT__/Upload/lpimg/<{$vo.image}>" alt="" /></a>
					<a class="fine-title" href="__MODULE__/Loupan/detail" target="_blank"><{$vo.dili}><i></i><{$vo.house_name}></a>
					<a class="fine-xinxi" href="__MODULE__/Loupan/detail" target="_blank"><{$vo.mix_mianji}>~<{$vo.max_mianji}><i></i>|<i></i><{$vo.decorate}><i></i>|<i></i><{$vo.build_type}></a>
					<a class="fine-time" href="__MODULE__/Loupan/detail" target="_blank">交房时间：<{$vo.last_time}></a>
				</li>
			</volist> -->
			<volist name="house_info" id="vo">
				<li class="fine-margin">
					<a class="fine-img" href="__MODULE__/Loupan/detail?id=<{$vo.house_id}>" target="_blank"><img class="fine-imgs" src="__ROOT__/Upload/lpimg/<{$vo.image}>" alt="" /></a>
					<a class="fine-title" href="__MODULE__/Loupan/detail?id=<{$vo.house_id}>" target="_blank"><{$vo.dili}><i></i><{$vo.house_name}></a>
					<a class="fine-xinxi" href="__MODULE__/Loupan/detail?id=<{$vo.house_id}>" target="_blank"><{$vo.mix_mianji}>㎡~<{$vo.max_mianji}>㎡<i></i>|<i></i><{$vo.decorate}><i></i>|<i></i><{$vo.build_type}></a>
					<a class="fine-time" href="__MODULE__/Loupan/detail?id=<{$vo.house_id}>" target="_blank">交房时间：<{$vo.last_time}></a>
				</li>
			</volist>
			</ul>
		</div>
		<div class="title-index">99新房新闻.动态<span>最新动态  最全新闻</span></div>	
		<div id="news">
			<div id="news-left">
				<a class="news-img" href="__MODULE__/News/newtext" target="_blank"><img src="__PUBLIC__/home/img/news-02.jpg" alt="" /></a>
				<a class="news-title" href="__MODULE__/News/newtext" target="_blank">
					<div class="news-titles textoverflow">新房开盘购买流程的简单介绍和说明</div>
					<div class="news-time">2017-06-09</div>
				</a>
				<div class="news-text">
					人奋斗一辈子，还不就是为了有房有家，有个落脚的地方。买房对如今很多人来说虽然有压力，但也是奋斗...<a href="__MODULE__/News/newtext" target="_blank">【查看详情】</a>
				</div>
			</div>
			<div id="news-right">
				<div class="news-list">
					<a class="news-title" href="__MODULE__/News/newtext" target="_blank">
						<div class="news-titles textoverflow">新房开盘购买流程的简单介绍和说明</div>
						<div class="news-time">2017-06-09</div>
					</a>
					<div class="news-text">
						人奋斗一辈子，还不就是为了有房有家，有个落脚的地方。买房对如今很多人来说虽然有压力，但也是奋斗的方向买房要准备和注意的事项是比较多的，那么...<a href="__MODULE__/News/newtext" target="_blank">【查看详情】</a>
					</div>
				</div>
				<div class="news-list">
					<a class="news-title" href="__MODULE__/News/newtext" target="_blank">
						<div class="news-titles textoverflow">新房开盘购买流程的简单介绍和说明</div>
						<div class="news-time">2017-06-09</div>
					</a>
					<div class="news-text">
						人奋斗一辈子，还不就是为了有房有家，有个落脚的地方。买房对如今很多人来说虽然有压力，但也是奋斗的方向买房要准备和注意的事项是比较多的，那么...<a href="__MODULE__/News/newtext" target="_blank">【查看详情】</a>
					</div>
				</div>
				<div class="news-list news-lists">
					<a class="news-title" href="__MODULE__/News/newtext" target="_blank">
						<div class="news-titles textoverflow">新房开盘购买流程的简单介绍和说明</div>
						<div class="news-time">2017-06-09</div>
					</a>
					<div class="news-text">
						人奋斗一辈子，还不就是为了有房有家，有个落脚的地方。买房对如今很多人来说虽然有压力，但也是奋斗的方向买房要准备和注意的事项是比较多的，那么...<a href="__MODULE__/News/newtext" target="_blank">【查看详情】</a>
					</div>
				</div>
			</div>
		</div>	
		<div class="title-index">关于99新房<span>安心买房  快捷卖房</span></div>
		<div id="touch">
			<div class="touch-list touch-lists">
				<div class="touch-img"><img src="__PUBLIC__/home/img/touch-img01.png" alt="" /></div>
				<div class="touch-right">
					<div class="touch-bold">关注微信二维码</div>
					<div class="touch-conter">
						<div class="touch-weixin"><img src="__PUBLIC__/home/img/weixin.jpg" alt="" /></div>
						<ul>
							<li>手机扫描二维码</li>
							<li>关注99新房公众号</li>
							<li>为您解决购房难题</li>
						</ul>
					</div>
					<div class="touch-bold">免费咨讯热线</div>
					<div class="touch-tel">400-8792-777</div>
					<div class="touch-time">工作时间：09:00~21:00（周一至周日）</div>
				</div>
			</div>
			<div class="touch-list">
				<div class="touch-img"><img src="__PUBLIC__/home/img/touch-img02.png" alt="" /></div>
				<div class="touch-right">
					<div class="touch-bold touch-bolds">合作申请</div>
					<div class="touch-conter">
						<div class="touch-conter-text">2017携手99新房一起开创未来</div>
						<div id="touch-hezuo" class="touch-conter-button">立即加入</div>
					</div>
					<div class="touch-bold touch-bolds">合作热线</div>
					<div class="touch-tel">15888379654</div>
					<div class="touch-time">工作时间：09:00~21:00（周一至周日）</div>
				</div>
			</div>
		</div>
		<!--弹窗注册申请合作-->
		<div id="hezuo-background">
			<div id="img-guanbi"></div>
		</div>
		<div id="hezuo-fixed">
			<div id="hezuo-left">
				<p class="hezuo-title">在线申请合作</p>
				<p class="hezuo-title">请填写右边信息</p>
				<div style="height:40px;"></div>
				<p class="hezuo-text">提交申请后99新房招商人员会在第二个工作日</p>
				<p class="hezuo-text">与您联系</p>
				<div style="height:30px;"></div>
				<p class="hezuo-text" style="color:#e14122;">加入流程</p>
				<p class="hezuo-text">申请>约谈>签约>加入99新房</p>
				<div style="height:20px;"></div>
				<p class="hezuo-text">咨询热线：400-8972-777</p>
			</div>
			<from id="hezuo-right">
				<div class="hezuo-input-box">
					<input class="hezuo-input" type="text" name="" id="" placeholder="姓名" value="姓名" />
					<input class="hezuo-input" type="text" name="" id="" placeholder="联系方式" value="联系方式" />
				</div>
				<div class="hezuo-input-box">
					<input class="hezuo-input" type="text" name="" id="" placeholder="城市" value="城市" />
				</div>
				<textarea name="" rows="" cols="" placeholder="备注"></textarea>
				<input type="submit" name="" id="" value="申请加入"/>
			</from>
		</div>
		<!--底部小图标-->
		<div class="tol-box">
			<ul id="tol">
				<li>
					<div class="tol-img">
						<img src="__PUBLIC__/home/img/tol-01.png" alt="" />
					</div>
					<div class="tol-text">房源真实  精挑细选</div>
				</li>
				<li>
					<div class="tol-img">
						<img src="__PUBLIC__/home/img/tol-02.png" alt="" />
					</div>
					<div class="tol-text">一键预约  极速响应</div>
				</li>
				<li>
					<div class="tol-img">
						<img src="__PUBLIC__/home/img/tol-03.png" alt="" />
					</div>
					<div class="tol-text">价格真实  拒绝黑幕</div>
				</li>
				<li>
					<div class="tol-img">
						<img src="__PUBLIC__/home/img/tol-04.png" alt="" />
					</div>
					<div class="tol-text">专属经济  全程无忧</div>
				</li>
			</ul>
		</div>

		<script type="text/javascript" src="__PUBLIC__/home/js/tongyong.js"></script>
		<script type="text/javascript" src="__PUBLIC__/home/js/indexjs.js"></script>
		<script type="text/javascript" charset="utf-8" src="http://lead.soperson.com/20001185/10056872.js"></script>
	</body>
</block>