#top{border-bottom:0.01rem solid #eee;}
#newtext-title{line-height:1.1rem;font-size:0.34rem;text-align: center;color:#333;}
#newtext-time{text-align: center;font-size:0.22rem;color:#999;}
.text-p{width:7.1rem;margin:0.3rem auto 0;font-size: 0.26rem;color:#333;margin-top: 0.2rem;}
.text-img{width:7.1rem;margin:0.3rem auto 0;}
















