<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>99新房网_房产资讯</title>
    <script type="text/javascript" src="__PUBLIC__/mobile/js/yidong.js"></script>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/mobile/css/style.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/mobile/css/news.css" />
</head>

<body>
    <!--顶部信息-->
    <div id="top">
        <a id="link-top" href="javascript:history.back(-1)">
            <img src="__PUBLIC__/mobile/img/tubiao/link-top.png" alt="" />
        </a>
        <a id="link-index" href="__MODULE__/index/index">
            <img src="__PUBLIC__/mobile/img/tubiao/link-index.png" />
        </a>
        <span>房产资讯</span>
    </div>
    <div id="newtext-title">没有购房合同能收房吗？</div>
    <div id="newtext-time">发布时间：2016-12-09 18:43:51</div>
    <p class="text-p">
        摘要：没有购房合同能收房吗？付完首付款签了认购协议书，当天还签了五份合同说去房管局备案的，但快要交房了还没有拿到购房合同。该怎么办？
    </p>
    <p class="text-p">
        摘要：没有购房合同能收房吗？付完首付款签了认购协议书，当天还签了五份合同说去房管局备案的，但快要交房了还没有拿到购房合同。该怎么办？
    </p>
    <div class="text-img">
        <img src="__PUBLIC__/mobile/img/banner.jpg" alt="" />
    </div>
    <p class="text-p">
        摘要：没有购房合同能收房吗？付完首付款签了认购协议书，当天还签了五份合同说去房管局备案的，但快要交房了还没有拿到购房合同。该怎么办？
    </p>
    <p class="text-p">
        摘要：没有购房合同能收房吗？付完首付款签了认购协议书，当天还签了五份合同说去房管局备案的，但快要交房了还没有拿到购房合同。该怎么办？
    </p>
    <p class="text-p">
        摘要：没有购房合同能收房吗？付完首付款签了认购协议书，当天还签了五份合同说去房管局备案的，但快要交房了还没有拿到购房合同。该怎么办？
    </p>
    <!--底部-->
    <div class="bottom-hieght"></div>
    <div class="bottom-hieght"></div>
    <!--右侧搜索-->
    <!--<a class="fixed-sousuo" href="sousuo.html"><img src="__PUBLIC__/mobile/img/tubiao/sousuo.png" alt="" /></a>-->
    <!--底部固定窗口-->
    <div id="bottom-fixed">
        <a href="zhaofang.html">
            <span>
                <img src="__PUBLIC__/mobile/img/tubiao/sousuo-01.png" alt="" />
            </span>帮您找房</a>
        <a>
            <span>
                <img src="__PUBLIC__/mobile/img/tubiao/zixun.png" alt="" />
            </span>在线咨询</a>
        <a href="tel:111111111">
            <span>
                <img src="__PUBLIC__/mobile/img/tubiao/tel.png" alt="" />
            </span>售楼热线</a>
    </div>
</body>

</html>