<extend name="Layout/Home"/>
<block name="content">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/contach.css"/>

			<div id="banner">
			<div id="index-banner" class="banner-box">
				<div class="banner-img" style="display: block;"><img src="__PUBLIC__/home/img/banner/hot-banner1.jpg" alt="" /></div>
				<div class="banner-img"><img src="__PUBLIC__/home/img/banner/hot-banner2.jpg" alt="" /></div>
				<div class="banner-img"><img src="__PUBLIC__/home/img/banner/hot-banner3.jpg" alt="" /></div>
				<div class="banner-img"><img src="__PUBLIC__/home/img/banner/hot-banner4.jpg" alt="" /></div>
				<div class="banner-img"><img src="__PUBLIC__/home/img/banner/hot-banner5.jpg" alt="" /></div>
				<ul id="banner-num">
					<li class="banner-num-li"></li>
					<li class="banner-num-li"></li>
					<li class="banner-num-li"></li>
					<li class="banner-num-li"></li>
					<li class="banner-num-li" style="margin-right: 0;"></li>
				</ul>
		 		<div id="banner-left" onclick="bannerL()"><div></div></div>
				<div id="banner-right" onclick="bannerR()"><div></div></div>
			</div>
		</div>
		<div id="address"><i></i><a class="" href="index.html">99新房></a><a class="" href="we.html">关于我们</div>
		<div class="center">
			<ul id="contach-nav">
				<li class="contach-nav-li"><a href="contach.html">关于99</a></li>
				<li><a href="hezuo.html">申请合作</a></li>
				<li><a href="team.html">置业顾问团队</a></li>
				<li><a href="lianxi.html">联系我们</a></li>
			</ul>
			<div id="contach-body">
				<div class="title-index" style="margin-top: 0;">99新房</div>
				<p class="contach-text">
					99新房网隶属于嘉兴缔锋信息科技有限公司，公司成立于2014年，公司经过四年的稳健发展，其业务范围有投资分析、信息咨询、项目调研、市场定位、产品策划、概念设计、营销企划、广告推广、销售代理、营销顾问、人员培训等的各个领域。目前旗下有员工300余名，其营销团队均有多年对房地产行业的了解。公司拥有一支由高素质、专业化的优秀人才组成的卓越团队，始终秉承“诚信高效”的企业精神和“创造财富，推动发展，成就事业”的经营理念，并始终贯彻“以客户为中心，以管理求质量，以信誉求发展”的经营方针，坚持“诚信、专业、严谨、求新”的工作作风和工作态度，力求为开发商和终端消费者提供最有力的业务支持和最完善的客户服务。
				</p>
				<div class="title-index">99新房</div>
				<p class="contach-text">
					公司成立于2014年，经历过四年多的实战历练，公司致力于在各个领域为客户提供全面的服务。秉承以诚取信、以稳求胜专业服务、规范管理的企业精神，结合精干的管理团队，娴熟的专业技能，丰富的实战经验，不断的学习和创新，公司在成立四年来，先后在北京及全国全案代理了54个市、县的项目，涉及到别墅，商业，写字楼，住宅区，海景房等各种物业类型，是一手房营销策代理机构较有先见性的代理公司之一。
				</p>
				<div class="title-index">公司理念</div>
				<p class="contach-text">
					公司秉承服务至上的理念，率领着一支由行业各级人才组成的专业化精英团队，对项目全程跟进，提供全方位、多视角、高水准的专业化服务。公司以北京为总部，分别在环北京、环南京、环上海等区域建立三大业务中心，为多个城市的客户、多个房产项目提供了高品质的综合服务。公司目前正在研发最棒的买房体验：服务高水准、信息高透明、交易高保障——在四年时间里，已经有数千人在咨询师的专业服务下寻找到最适合自己的房产。四年来我们凭借敏锐的市场洞察力，科学严谨的策略，杰出的创意，挚热的工作态度，专业的执行和最佳的成本效益计算将服务推上极致。
				</p>
				<div class="title-index">企业文化</div>
				<p class="contach-text">
					企业使命：为客户提供最好的消费体验</br>
					发展愿景：创建自己的品牌形象，成为房地产销售行业的领跑者。</br>
					六大价值观：品质至上、精诚合作、持续成长、正直诚信、激情乐观、传递爱心</br>
					经营理念：专业、专注、热情</br>
				</p>
			</div>
			<div style="clear: both;"></div>
		</div>

		<script  type="text/javascript" src="__PUBLIC__/home/js/tongyong.js"></script>
		<script  type="text/javascript" src="__PUBLIC__/home/js/banner.js"></script>
		<script type="text/javascript" charset="utf-8" src="http://lead.soperson.com/20001185/10056872.js"></script>
	

</block>