<extend name="Layout/Home"/>
<block name="content">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/we.css"/>

		<div id="we-banner" class="banner-box">
			<div class="banner-img" style="display: block;"><img src="__PUBLIC__/home/img/banner/hot-banner1.jpg" alt="" /></div>
			<div class="banner-img"><img src="__PUBLIC__/home/img/banner/hot-banner2.jpg" alt="" /></div>
			<div class="banner-img"><img src="__PUBLIC__/home/img/banner/hot-banner3.jpg" alt="" /></div>
			<ul id="banner-num">
				<li class="banner-num-li"></li>
				<li class="banner-num-li"></li>
				<li class="banner-num-li" style="margin-right: 0;"></li>
			</ul>
			<div id="banner-left" onclick="bannerL()"><div></div></div>
			<div id="banner-right" onclick="bannerR()"><div></div></div>
		</div>
		<div class="center">
			<div id="address"><i></i><a class="" href="index.html">99新房></a>楼盘查询</div>
			<div class="title-index">公司简介</div>
			<p class="we-title">我们是谁？</p>
			<p class="we-titles">懂你所需、做你所想</p>
			<ul class="we-jianjie-box">
				<li class="we-jianjie">
					九九人以质量兴业，服务为先，挑战自我，率先与市场接轨，推崇“热情、专业、真诚”的服务宗旨，奉守“优质、高效、诚信、追求卓越”的经营理念，
					九九人以质量兴业，服务为先，挑战自我，率先与市场接轨，推崇“热情、专业、真诚”的服务宗旨，奉守“优质、高效、诚信、追求卓越”的经营理念，
					九九人以质量兴业，服务为先，挑战自我，率先与市场接轨，推崇“热情、专业、真诚”的服务宗旨，奉守“优质、高效、诚信、追求卓越”的经营理念，
					九九人以质量兴业，服务为先，挑战自我，率先与市场接轨，推崇“热情、专业、真诚”的服务宗旨，奉守“优质、高效、诚信、追求卓越”的经营理念，
				</li>
				<li class="we-logo"><img src="__PUBLIC__/home/img/we-logo.jpg" alt="" /></li>
			</ul>
			<div class="title-index">咨询师团队</div>
			<ul class="we-team">
				<li>
					<a href=""><img src="__PUBLIC__/home/img/we-team1.png" alt="" /></a>
					<p class="we-team-name">大美丽</p>
					<div>首席咨询师</div>
				</li>
				<li>
					<a href=""><img src="__PUBLIC__/home/img/we-team2.png" alt="" /></a>
					<p class="we-team-name">大美丽</p>
					<div>首席咨询师</div>
				</li>
				<li>
					<a href=""><img src="__PUBLIC__/home/img/we-team3.png" alt="" /></a>
					<p class="we-team-name">大美丽</p>
					<div>首席咨询师</div>
				</li>
				<li>
					<a href=""><img src="__PUBLIC__/home/img/we-team4.png" alt="" /></a>
					<p class="we-team-name">大美丽</p>
					<div>首席咨询师</div>
				</li>
				<li>
					<a href=""><img src="__PUBLIC__/home/img/we-team5.png" alt="" /></a>
					<p class="we-team-name">大美丽</p>
					<div>首席咨询师</div>
				</li>
				<li>
					<a href=""><img src="__PUBLIC__/home/img/we-team6.png" alt="" /></a>
					<p class="we-team-name">大美丽</p>
					<div>首席咨询师</div>
				</li>
				<li>
					<a href=""><img src="__PUBLIC__/home/img/we-team7.png" alt="" /></a>
					<p class="we-team-name">大美丽</p>
					<div>首席咨询师</div>
				</li>
				<li>
					<a href=""><img src="__PUBLIC__/home/img/we-team8.png" alt="" /></a>
					<p class="we-team-name">大美丽</p>
					<div>首席咨询师</div>
				</li>
			</ul>
			<div class="title-index">联系我们</div>
			<ul class="we-bottom">
				<li class="we-address we-transition">
					<img src="__PUBLIC__/home/img/we-bottom1.png" alt="" />
					<p>公司地址</p>
					<div>北京市通州区九棵树东路甲422号</div>
					<div>808室</div>
				</li>
				<li class="we-phone we-transition">
					<img src="__PUBLIC__/home/img/we-bottom2.png" alt="" />
					<p>联系电话</p>
					<div>人事电话：17343186095</div>
					<div>客服电话：00000000000</div>
				</li>
				<li class="we-qq we-transition">
					<img src="__PUBLIC__/home/img/we-bottom3.png" alt="" />
					<p>联系QQ</p>
					<div>客服小刘：000000000</div>
					<div>客服小张：000000000</div>
				</li>
			</ul>
		</div>

		<script  type="text/ " src="__PUBLIC__/home/js/tongyong.js"></script>
		<script type="text/javascript" src="__PUBLIC__/home/js/banner.js"></script>
		<script type="text/javascript" charset="utf-8" src="http://lead.soperson.com/20001185/10056872.js"></script>
</block>