	<head>
		<meta charset="utf-8" />
		<title>99新房网_品质好房尽在99</title>
		<link rel="stylesheet" href="__PUBLIC__/home/css/style.css"/>
		<!-- <link rel="stylesheet" href="__PUBLIC__/home/css/index.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/hot.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/search.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/baoming.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/contach.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/loupan.css"/>
		<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=mspnPTYYnjZb3sNu36ysEZw1"></script>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/member.css"/>
		<link rel="stylesheet" href="__PUBLIC__/home/css/newtext.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/team.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/we.css"/>
 -->
 		
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/news.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/page.css"/>
		<!-- <load href="__PUBLIC__/houtaiimg/page.css"/ > -->
	</head>